
.navigator{
	display: flex;
	justify-content: flex-end;
	background-image: url(../IMG/header.png);
	top: 20%;
	left: 55%;
	padding: 10px;
	margin: 10px;
    border-radius: 40px;
}

.information__btn {
	background-color:#ffffff;
	color: #82ae94;
	padding: 15px;
	font-size: 15px;
	border: none;
	cursor: pointer;
  }
  
  .information {
	position: relative;
	display: inline-block;
	flex-direction: right;
  }
  
  .information__content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .information__content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .information-content a:hover {background-color: #f1f1f1}
  
  .information:hover .information__content {
	display: block;
  }
  
  .information:hover .information__btn {
	background-color: #3e8e41;
  }